@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root {
    --cor-fundo: #DDD;
    --cor-menu: #4D41C0;
    --cor-card: #fff;
    --nome-filme: #4A4A4A;
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body, main {
    background-color: var(--cor-fundo);
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
}

header {
    background-color: var(--cor-menu);
    color: var(--cor-card);
    height: 60px;
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1 {
    font-size: 24px;
    font-weight: 700;
}

nav a, nav a:hover {
    font-size: 12px;
    font-weight: 400;
    color: unset;
    text-decoration: none;
}

.dsmovie-contact-container {
    display: flex;
    align-items: center;
}

.dsmovie-contact-container img {
    margin-right: 10px;
}

#dsmovie-card-list {
    padding: 40px 0;
}

.dsmovie-card {
    width: 260px;
    background-color: var(--cor-card);
    border-radius: 0 0 8px 8px;
}

.dsmovie-card img {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.dsmovie-card h3 {
    color: var(--nome-filme);
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}

.dsmovie-card-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 20px 0;
}

.dsmovie-card-description h3 {
    margin-bottom: 25px;
}

.dsmovie-button {
    background-color: var(--cor-menu);
    width: 180px;
    height: 40px;
    border-radius: 4px;
}

.dsmovie-button, .dsmovie-button:hover {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--cor-card);
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
}